---
---

@import "{{ site.theme }}";
$font-stack:    Helvetica, sans-serif;

// style as scandinavian theme. Looks aquatic as of now.
$base-color: black;
$primary-color: #005a6a; //Oceanside
$secondary-color: #dee1df; //Rock candy
$info-color: #2ba9ae; //Aquarium
$error-color: #874057; //Juneberry
$warning-color: #c7882d; //Auric
$success-color: #72754f; //Secret meadow

body {
  font: 100% $font-stack;
  color: $base-color;
}

nav {
  /*position: fixed;*/
  position: sticky;
  top: 0;
  /*left: 0;*/
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $secondary-color;
  opacity: 0.9;
  display: inline-block;
  border-radius: 4px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: $primary-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  /*color:  lighten( $primary-color, 10% );*/
  color:  saturate( $primary-color, 10% );
  /*background-color: darken( $secondary-color, 10% );*/
  background-color: saturate( $secondary-color, 30% );
  text-decoration: none;
}

.main-content h1 {
  color: $info-color;
}

.main-content h2 {
  color: $info-color;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: $primary-color;
    background-image: linear-gradient(120deg, $primary-color, $info-color);
}

.card {
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
  padding: 1rem;
  background-color: $info-color;
}